<h3>First angular application</h3>
<h2>{{ title }}</h2> <!-- String Interpolation -->    




<!-- <div (click)="onDivClick()">     -->
    <button (click)="onSave1()">Save1</button> <!-- Event Binding -->    
    <button (click)="onSave2()">Save3</button> <!-- Event Binding -->    
  <!-- </div> -->

  <h2>Two-way Binding</h2>    
   <input [(ngModel)]="fullName" /> <br/><br/>    
<p> {{fullName}} </p>


<div class="container">  
    <div class="form-group">  
      <label>  
        Email:  
      </label>  
      <input type="text" [formControl]="email" />  
    </div>  
    <div class="form-group">  
      <button (click)="test()" class="btn btn-dark">Update</button>  
    </div>  
    <p>  
      Value: {{ email.value }}  
    </p>  
  </div>